<div class="ui large form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'ui primary submit button' %>
  </div>
<% end %>
</div>

<div class="bottom">
  <%= link_to root_path do %>
    <div class="ui secondary basic animated button" tabindex="0">
      <div class="visible content">
        Back
      </div>
      <div class="hidden content">
          <i class="left arrow icon"></i>
      </div>
    </div>
  <% end %>
</div>
