<h1>Recordings</h1>

<table class="ui celled padded table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Recording</th>
      <th>Date Uploaded</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordings.each do |recording| %>
      <tr>
        <td><%= recording.name %></td>
        <td><%= recording.description %></td>
        <td>
          <%= link_to recording do %>
            <div class="ui animated fade button" tabindex="0">
            <div class="visible content">
              <%= recording.recording.file.filename %>
            </div>
            <div class="hidden content">
              Show
            </div>
          <% end %>
        </td>
        <td><%= recording.created_at.strftime("%B %d, %Y") %></td>
        <td>
          <%= link_to edit_recording_path(recording) do %>
            <div class="basic circular orange ui animated fade button" tabindex="0">
            <div class="visible content">
              Edit
            </div>
            <div class="hidden content">
                <i class="write icon"></i>
            </div>
          <% end %>
        <td>
          <%= link_to recording, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <div class="basic circular ui animated fade button" tabindex="0">
            <div class="visible content">
              Delete
            </div>
            <div class="hidden content">
              <i class="red trash outline icon"></i>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_recording_path do %>
  <div class="primary ui animated button" tabindex="0">
    <div class="visible content">
      New Recording
    </div>
    <div class="hidden content">
        <i class="right arrow icon"></i>
    </div>
  </div
<% end %>
